html, body{
height: 100%;
background-color: darkblue;
}
h1{
    color: white;
    font-size: 50px;
    text-align: center;
}
.container{
    border-style: solid;
    border-width: 2px;
    background-color: gray;
    display: flex;
}
.buttonContainer{

    width: 30%;
    justify-content: center;
    text-align: center;
}
#currentColor{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    height: 50px;
    width: 50px;
}
canvas{
    margin: auto;
    margin-left: 20px;
    height: auto;
    width: auto;
}
#color-wheel{
    padding-top: 5%;
    margin: auto;
}
.button{
    width: 60%;
    height: auto;
    margin: 5%;
}
.radioContainer{
    display: flex;
    flex-direction: row;
}
input[type=radio]{
    margin-left: 20%;
}
label{
    font-size: 50px;
}
h1{
    font-size: 50px;
    text-align: center;
}
.grid{
    margin: auto;
    background-color: white;
    border-style: solid;
    display: grid;
    height: 500px;
    width: 500px;
    gap: 0px;
}
.pixel{
    border-style: solid;
    border-width: 1px;
}